{% extends 'pro_action/project.html' %}
{% block title %}
    慈善行动
{% endblock title %}
{% block pro_menu_li %}
<ul class="pro_menu">
    <li><a href="">助医行动</a></li>
    <li><a href="">助学行动</a></li>
    <li><a href="">助教行动</a></li>
    <li><a href="">其他</a></li>
</ul>
{% endblock pro_menu_li %}
{% block pro_title_li %}
<ul class="pro_title">
    <li><a href="">慈善行动慈善行动慈善行动慈善行动慈善行动慈善行动</a><input type="button" value="参加"></li>
    <li><a href="">慈善行动慈善行动慈善行动慈善行动慈善行动慈善行动</a><input type="button" value="参加"></li>
    <li><a href="">慈善行动慈善行动慈善行动慈善行动慈善行动慈善行动</a><input type="button" value="参加"></li>
    <li><a href="">慈善行动慈善行动慈善行动慈善行动慈善行动慈善行动</a><input type="button" value="参加"></li>
    <li><a href="">慈善行动慈善行动慈善行动慈善行动慈善行动慈善行动</a><input type="button" value="参加"></li>
</ul>
{% endblock pro_title_li %}